<nav>
    <div class="nav-logo"><a href="/">uhhpinion</a></div>
    <ul class="nav-items">
        <li class="nav-item"><a href="/movies">movies</a></li>
        <li class="nav-item"><a href="/games">games</a></li>
        <li class="nav-item"><a href="/anime">anime</a></li>
        <li class="nav-item"><a href="/music">music</a></li>
    </ul>
</nav>